{% extends 'CompufixAdminBundle::layout.html.twig' %}
{% block title %}Informacion Personal{% endblock %}
{% block breadcrumb %}
<li> <a href="{{ path('adminbundle_main_index')}}">Administrador</a> <span class="divider">/</span></li>
<li> <a href="#">{{ 'message.bandeja_entrada' |trans({}, 'AdminBundle') }}</a> <span class="divider">/</span></li>
{% endblock %}

{% block javascript_custom %}
<script src="{{ asset('js/compufixadmin/message/index.js') }}" type="text/javascript"></script>
{% endblock %}


{% block content -%}




<ul class="breadcrumb">
    <li>
        <a class="btn btn-success" href="{{path('admin_messages',{'bandeja': 1})}}">Entrada</a> <span class="divider"> &nbsp;</span>
    </li>
    <li>
        <a class="btn btn-success" href="{{path('admin_messages',{'bandeja': 2})}}">Salida</a> <span class="divider"> &nbsp;</span>
    </li>
    <li>
        <a href="{{path('admin_message_new')}}" class="btn btn-success" >  &nbsp; {{ 'message.nuevo_mensaje' |trans({}, 'AdminBundle') }} </a>
    </li>
    
    <li>
    <a href="#" class="btn btn-danger" data-rel="popover" data-content="And here's some amazing content. It's very engaging. right?" title="A Title">hover for popover</a>
    </li>
</ul>
    <h1>Message list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Userremitente</th>
                <th>Fechaenvio</th>
                <th>Prioridad</th>
                <th>Asunto</th>
                <th>Contenido</th>
                <th>Leido</th>
                <th>Fechaleido</th>
                <th>Userleido</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('message_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.userRemitente }}</td>
                <td>{% if entity.fechaenvio %}{{ entity.fechaenvio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.prioridad }}</td>
                <td>{{ entity.asunto }}</td>
                <td>{{ entity.contenido }}</td>
                <td>{{ entity.leido }}</td>
                <td>{% if entity.fechaleido %}{{ entity.fechaleido|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.userleido }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('message_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('message_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('message_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
